<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harsh Agrawal</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/40daeb51b2.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="" class="logo">
                <ul id="sidemenu">
                    <li>
                        <a href="#header">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#Skills">Skills</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Full Stack Web Developer</p>
                <h1>Hi, I'm <span>Harsh Agrawal</span> <br>From India </h1>
            </div>
            <a href="/client/src/Images/Resume.pdf" download class="btn btn2">Download CV</a>
        </div>
    </div>



    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="/client/src/Images/user2.png">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About me</h1>
                    <br>
                    <p>Hello I'm
                        <br>
                        <br>
                        Harsh Agrawal
                        <br>
                        <br>
                        Full Stack Web Developer
                    </p>
                    <p>Pursuing My B.tech Degree from Parul Institute Of Technology.</p>
                    <br>
                    <p>Programming since I was 18, computers got my interest from thinking how to these cool stuff
                        actually work!</p>
                    <br>
                    <p>Always Exploring things and learning new topics.
                        A future Software Engineer but present Coder, learner , explorer, etc.</p>
                    <br>
                    <p>I like to create new projects thus always brain-storming about ideas 💡.
                        <br>
                        <br>My first attempt to code was building a ECOMMERCE-WEBSITE, but fortunately it crashed on
                        first run thus made
                        me to explore more about programming in general.
                    </p>
                    <br>
                    <p>And Also A Member of Coding Club </p>
                    <br>
                    <div class="tab-titles">
                        <p class="tab-links active-link" onClick="opentab('skills')">Skills</p>
                        <p class="tab-links" onClick="opentab('experience')">Experience</p>
                        <p class="tab-links" onClick="opentab('education')">Education</p>
                        <p class="tab-links" onClick="opentab('certificate')">Certificate</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li>
                                <span>
                                    UI/UX
                                </span>
                                <br>
                                Designing Web/App Interface
                            </li>
                            <li>
                                <span>
                                    Web Development
                                </span>
                                <br>
                                Web app Development
                            </li>
                            <li>
                                <span>
                                    App Development
                                </span>
                                <br>
                                Building Android/IOS Apps
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li>
                                <span>
                                    2021-Current
                                </span>
                                <br>
                                Web Developer
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li>
                                <span>
                                    2021-present
                                </span>
                                <br>
                                Pursuing My B.tect Degree from Parul University
                            </li>
                            <li>
                                <span>
                                    2021
                                </span>
                                <br>
                                Complete my senior Secondary Education
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents " id="certificate">
                        <ul>
                            <li>
                                • Flipkart Grid 4.0 Software Challenge,Participate in the first round of the process
                            </li>

                            <li>
                                • Code agoda,Participate in the first coding round.
                            </li>

                            <li>
                                • Meta Hacker Cup,Qualified for the first round 1. Secured a rank of 11,637 among the
                                22k+ candidate.
                            </li>

                            <li>
                                • Hero Campus Challenge Season 8,Qualified for the first round 1 among 75k+ candidate.
                            </li>

                            <li>
                                • Dare To Code Challenge(conducted by Parul University) ,Qualified for round 2, among 2k
                                student
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn2"><a
                            href="https://www.linkedin.com/in/harsh-agrawal-8a138a239/">See More</a></button>
                </div>

            </div>
        </div>

    </div>
    </div>


 
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services </h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Design</h2>
                    <p>A web designer is responsible for creating the design and layout of a website or web pages. It
                        and can mean working on a
                        brand new website or updating an already existing site. Their role is different to web
                        developers , who specialise in
                        making web designs a reality or writing code that dictates how different parts of the website
                        fit together.</p>
                    <a href="https://www.youtube.com/watch?v=l1EssrLxt7E&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n">Learn
                        more</a>
                </div>
                <div>
                    <i class="fa-brands fa-uikit"></i>
                    <h2>UI/UX Design</h2>
                    <p>UX design is all about identifying and solving user problems; UI design is all about creating
                        intuitive,
                        aesthetically-pleasing, interactive interfaces. UX design usually comes first in the product
                        development process,
                        followed by UI.</p>
                    <a href="https://www.youtube.com/watch?v=qDUYIQZVQDE&list=PLVlQHNRLflP_5_vCknMsxLS-mTJgq1QzH">Learn
                        more</a>
                </div>
                <div>
                    <i class="fa-regular fa-mobile"></i>
                    <h2>App Design</h2>
                    <p>App design combines the user interface (UI) and user experience (UX). While UI lends itself to
                        the overall style of the app (including the colors, fonts, and general look and feel), UX
                        focuses on the actual functionality and usability.
                        .</p>
                    <a href="https://www.youtube.com/watch?v=fis26HvvDII">Learn more</a>
                </div>
            </div>
        </div>
    </div>



    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title"> My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="/client/src/Images/work-1.png">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>Social media allows individuals to keep in touch with friends and extended family. Download
                            it from play store</p>
                        <a href=""><i class="fa-solid fa-link"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/client/src/Images/work-2.png">
                    <div class="layer">
                        <h3>Music Media App</h3>
                        <p> Music Player is the best music player for Android. With gorgeous equalizer, all formats
                            supported and stylish UI, Music
                            Player provides the best musical experience for you.

                        </p>
                        <a href=""><i class="fa-solid fa-link"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="/client/src/Images/work-3.png">
                    <div class="layer">
                        <h3> Online Shopping App</h3>
                        <p> We know what fashion means to you, and how much you love the convenience of online shopping.
                            AJIO’s online shopping app
                            makes sure you don’t miss out on a stylish shopping experience even if you’re on the move.
                        </p>
                        <a href=""><i class="fa-solid fa-link"></i></a>
                    </div>
                </div>
            </div>
            <a href="https://www.linkedin.com/in/harsh-agrawal-8a138a239/" class="btn">See More</a>
        </div>
    </div>





    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fa-sharp fa-solid fa-paper-plane"></i>agarwalharsh6583@gmail.com</p>
                    <p><i class="fa-solid fa-phone-volume"></i>xxxxxx4390</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100045533649663"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/h_agrawal6754/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/harsh-agrawal-8a138a239/"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/harsh6754"><i class="fa-brands fa-github"></i></a>
                        <a href="https://twitter.com/HarshAg62381240"><i class="fa-brands fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="contact-right">
                    <form name="submit-to-google-sheet">
                        <input type="text" name=" Name" placeholder="Your Name" required>
                        <input type="email" name=" Email" placeholder="Your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Made With ❤️ By Harsh Agrawal</p>
            <p>CopyRight © 2023 Harsh Agrawal </p>
        </div>

    </div>



    <script>

        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");

        function opentab(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active-link");
            }
            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
        }

    </script>

    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu() {
            sidemenu.style.right = " 0 ";
        }
        function closemenu() {
            sidemenu.style.right = " -200px ";
        }
    </script>

    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbxvpj2ATCvBJ8wqudtBvRUfCn2aFvyNKGcdFPyu_JwNW5EldzXLsX4nVvzoD1j8_ssd/exec'
        const form = document.forms['submit-to-google-sheet']
        const msg = document.getElementById("msg")

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                .then(response => {
                    msg.innerHTML = " Message Send Successfully "
                    setTimeout(function () {
                        msg.innerHTML = ""
                    }, 5000)
                    form.reset()
                })
                .catch(error => console.error('Error!', error.message))
        })
    </script>
</body>

</html>